<div class="container-fluid">
  <section class="row">
    <div class="col-12">
      <div class="text-center my-2">
        <h1>Houses</h1>
      </div>
    </div>
  </section>
  <section class="row">
    <!-- <div class="col-2">
      <form onsubmit="app.HousesController.createHouse()" class="form-control">

      </form>
    </div> -->
    <div class="col-md-12">
      <section id="house-listings" class="row m-0 gx-5">
        <div class="col-md-6">
          <section class="row bg-light shadow">
            <div class="p-0">
              <img class="img-fluid house-img"
                src="https://photos.zillowstatic.com/fp/eb55c9c3a45243a6cea1e43c9fb53a68-p_d.jpg" alt="House listing">
            </div>
            <div class="">
              <div class="p-2">
                <h2>price</h2>
                <p class="fs-5">bed | bath | sqft | year</p>
                <p>description</p>
              </div>
            </div>
          </section>
        </div>
      </section>
    </div>
  </section>

</div>